Adafruit-Blinka==6.4.2
adafruit-circuitpython-dht==3.6.0
Adafruit-PlatformDetect==3.5.0
Adafruit-PureIO==1.1.8
board==1.0
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pkg-resources==0.0.0
pyftdi==0.52.9
pyserial==3.5
pyusb==1.1.1
rpi-ws281x==4.2.6
RPi.GPIO==0.7.0
sysv-ipc==1.1.0
Werkzeug==1.0.1
